.colorful-form {
    width: 400px;
    margin: 0 auto;
    padding: 40px;
    background-color: #e0e3ea;
    border-radius: 20px;
    
  }

.light-mode{
    box-shadow: 5px 5px 5px -1px rgba(0,0,0,0.75);
}

  .form-group {
    margin-bottom: 20px;
  }
  
  .form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    margin-top: 5px;
  }
  
  textarea.form-input {
    height: 100px;
  }


  .cssbuttons-io-button {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
    letter-spacing: 0.05em;
    border-radius: 20em;
    cursor: pointer;
    margin: auto auto;
  }
  
  .cssbuttons-io-button svg {
    margin-right: 6px;
  }
  
  .cssbuttons-io-button:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #064b1998;
  }
  
  .cssbuttons-io-button:active {
    box-shadow: 0 0.3em 1em -0.5em #14a73e98;
  }
  


/*CSS for the modal*/
.modalBackground{
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editModalButton{
  display: flex;
  margin: auto auto;
  width: 80%;
}

/*for the cancel Button*/
.cancel-button {
  padding: 20px 20px;
  background-color: rgb(223, 20, 20);
  border: none;
  font-size: 18px;
  position: relative;
  transition: 500ms;
  padding: 0.7em 1.4em 0.7em 1.1em;
  border-radius: 20em;
}

.cancel-button span {
  color: white;
  position: relative;
  transition: 500ms;
  transition-delay: 500ms;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  
}

.cancel-button:before {
  content: '';
  position: absolute;
  width: 0%;
  height: 0%;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
  transition: 500ms;
  transition-delay: 500ms;
  background-color: red;
  box-shadow: 0 0 10px red, 0 0 30px red, 0 0 50px red;
  
}

.cancel-button div {
  transition: 500ms;
  position: absolute;
  background-color: red;
  box-shadow: 0 0 15px red, 0 0 30px red, 0 0 50px red;
}

.cancel-button:hover {
  color: white;
  background-color: blue; /* Change the background color for hover state */
}

.cancel-button:hover span {
  color: white;
}

.cancel-button:hover:before {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20em;
}

